# EmailJS Configuration
# Sign up at https://www.emailjs.com and obtain your credentials.
# All VITE_ prefixed variables are exposed to the client bundle.

VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_TEMPLATE_ID_OWNER=template_xxxxxxx
VITE_EMAILJS_TEMPLATE_ID_USER=template_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxxxxxxx
